*{
        margin: 0 ; 
        padding: 0;
        list-style-type: none;
    }
    .pagWarp{
        height: 40px;
        box-shadow: 0 2px 5px #b6b6b6;
        position: absolute;
        border-radius: 2px;
        right: 42%;
        top: 430px;
    }
    #btnL,#btnR{
        line-height: 40px;
        cursor: pointer;
    }
    #btnL{
        float: left;
    }
    #btnR{
        float: right;             
    }
    .pagWarp ul{        
        height: 40px;
        margin: 0 auto;
        float: left;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .pagWarp ul li{
        float: left;
        text-align: center;
        line-height: 40px;
        padding: 0 4px;
    }
    .active{
        color: blue;
        font-size: 30px;
    }

    /* 商品列表样式 */
.list{
    width: 80%;
    margin: 20px auto;
}
.list:after{
    content:'';
    display: block;
    clear: both;
}
.list li{
    padding:2%;
    width: 15%;
    float: left;
    height: 300px;
    color: #666;
    border-right: 1px solid #b6b6b6;
      box-shadow: 2px 2px 5px #b6b6b6;  
      margin-left: 8px;
      margin-top: 20px;
}
.list li h2{
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.list .img{
    width: 100%;
    border: 1px solid #b6b6b6;
    height: 180px;
}
.list input[type=button]{
    display: block;
    margin: 0 auto;
    border: 1px solid #b6b6b6;
    width: 100px;
    height: 80px;
}